<%= form_with model: look, id: "new_look_form", local: false do |form| %>
  <% if look.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(look.errors.count, "error") %> prohibited this look from being saved:</h2>
      <ul>
        <% look.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_area :description %>
  <%= form.file_field :photos, multiple: true, name: 'look[photos][]' %>
  <%= form.submit %>
  <button data-controller="look" data-action="click->look#hideForm">Cancel</button>
<% end %>
