<%= form_with model: @look, id: "new-look-form", data: {controller: "look", action: "turbo:submit-end->look#reset"} do |form| %>
  <% if @look.errors.any? %>
    <div id="error-explanation">
      <h2><%= pluralize(@look.errors.count, "error") %> prohibited this look from being saved:</h2>
      <ul>
        <% @look.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, required: true %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%# <%= form.file_field :photos, multiple: true, required: true, name: 'look[photos][]' %>
        <% @look.photos.each do |photo| %>
          <%= image_tag(url_for(photo), size: '100x100') %>
        <% end %>
    <%= form.file_field :photos, class: 'file-field', multiple: true, required: true, name: 'look[photos][]' %>
  </div>

  <div class="field">
    <%= form.label :category_names, "Categories" %>
    <%= form.text_field :category_names, value: @look.categories.map(&:name).join(', ') %>
    <p>Add categories separated by commas</p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
