<div id="look_<%= look.id %>" class="look-card">
  <div class="categories">
      <% look.categories.each do |category| %>
        <span class="category"><%= category.name %></span>
      <% end %>
  </div>
  <div>
    <% look.photos.each do |photo| %>
      <%= image_tag(photo, class: '') %>
    <% end %>
  </div>
  <div class="actions">
    <%= link_to 'Edit look', edit_look_path(look), class: 'edit' %>
    <%= button_to 'Delete', look_path(look), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete' %>
  </div>
</div>
