<h1>Home#index</h1>
<%= form_with model: @look, url: looks_path, local: true do |form| %>
  <%= form.text_area :description %>
  <%= form.file_field :photos, multiple: true, name: 'look[photos][]' %>
  <%= form.submit %>
<% end %>


<% @looks.each do |look| %>
  <div>
    <p><%= look.description %></p>
    <% look.photos.each do |photo| %>
      <%= image_tag(photo, size: '100x100') %>
    <% end %>
  </div>
<% end %>

